<div ng-controller="PercentDiffVisController" class="metric-vis">

    <div class="metric-container">

        <span ng-if="metric.realValue >= 0"
                class="metric-value"
                ng-style="{'font-size': vis.params.fontSizePercent+'pt', color: vis.params.positiveColor}">
            {{ metric.value }}
        </span>

        <span ng-if="metric.realValue < 0"
             class="metric-value"
             ng-style="{'font-size': vis.params.fontSizePercent+'pt', color: vis.params.negativeColor }">
            {{ metric.value }}
        </span>

        <div>{{ vis.params.label }}</div>
    </div>

</div>